<template name="control">
  <!-- Control -->
  <section id="control">

    <header>
      <!-- <span class="image avatar"><img src="images/avatar.jpg" alt="" /></span> -->
      <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      <h1 id="logo">DisTrac</h1>
    </header>


    <ul class="parameterList">
      <li class="parameter">Susceptible: <span class="parameterValue">{{totalSusceptible}}</span></li>
      <li class="parameter">Infected: <span class="parameterValue">{{totalInfected}}</span></li>
      <li class="parameter">Recovered: <span class="parameterValue">{{totalRecovered}}</span></li>
    </ul>
    
    <div id="runSim"><input id="runBox" type="checkbox"/>Run Simulation</div>
    <input id="ex1" data-slider-id='ex1Slider' type="range" data-slider-min="0" data-slider-max="30" data-slider-step="1" data-slider-value="0"/>
    <div id="day">Day {{currentDay}} of 30 </div>

    <p id="description">Track the spread of disease outbreaks in real-time through historical and crowdsourced data.</p>

    <footer>


    </footer>
  </section>
</template>