body {
  background: #fff;
  margin: 0;
}

body, input, select, textarea {
  color: #888;
  font-family: "Arial", sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.75em;
}

#main {
  width: 100%;
  position: absolute;
}

.alertify-log {
  background-color: rgba(255,255,255,0);
  color: rgba(255,255,255,1);
  font-family: "Arial", sans-serif;
  margin-right: 0px;
  width: 300px;
  float: right;
  font-size: 0.6em;
  line-height: 0em;
}